@charset "utf-8";

:root {
  --app-gray-border: rgb(62, 62, 62);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100svh;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: gray; 
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p, h1, h2, h3, h4 {
  overflow-wrap: break-word;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  color: rgb(0, 8, 36);
}

.flex {
  display: flex;
}

.grid {
  border: 5px solid var(--app-gray-border);
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  min-height: 70vh; 
  gap: 10px;
  background-color: black;
  padding: 10px;
  position: relative; 
}

.no-select {
  user-select: none;
}

.wins-counter {
  align-self: start;
  background-color: rgb(19, 22, 31);
  border: 2px solid gray;
  width: 200px;
  padding: 5px;
  text-align: center;
  color: white;
}

.attack-menu {
  align-self: end; 
  justify-self: start; 
  background-color: rgb(19, 22, 31);
  border: 5px solid var(--app-gray-border);
  width: 300px;
}

.enemy-icon {
  justify-self: right;
  border: 5px solid var(--app-gray-border);
  width: 300px;
  height: 280px;
}

ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}


.space {
  justify-content: space-between;
}

header {
  height: 85px;
  width: 100%;
  background-color: gray;
  justify-content: center;
  align-items: center;

  button {
    padding: 15px 20px;
    margin: 10px 10px 10px 10px;
    font-size: 2rem;
    border-radius: 50px;
  }
}

.header-content {
  text-align: center;
  margin-top: 0px;
  h1 {
    padding: 16.5px;
  }
}

.power-button {
  background-color: rgb(255, 79, 79);
}

.reset {
  background-color: rgb(92, 255, 119);
}

.header {
  text-align: center;
}

footer {
  height: 40px;
  width: 100%;
  color: gray;
  margin-bottom: 0;
}

.your-hp {
  font-weight: 700;
  font-size: 1.4rem;
  color: white;
}

.enemy-hp {
  font-weight: 700;
  font-size: 1.4rem;
  color: red;
}

.attack-menu {
  background-color:rgb(19, 22, 31);
  border: 5px solid var(--app-gray-border);
  width: 300px;
  ul {
    li {
      margin: 10px;
      padding: 5px;
      background-color: var(--app-gray-border);
      button {
        width: 100%;
      }
    }
  }
}

.dialogue-box {
  text-align: left;
  width: 600px;
  color: rgb(167, 167, 167);
  background-color: rgb(15, 8, 8);
  border: 5px solid rgb(72, 71, 71);
  p {
    padding: 10px;
  }
}